:root {
    --main-color: #FF5500;
    --main-color-hover: #d64700;
}

/* BASE */
body {
    background-color: #f9f9f9;
    font-family: Arial,Roboto,"-apple-system",Helvetica,sans-serif;
}

input:focus-visible {
    outline: none;
}

.navbar {
    background-color: #3d3d3d!important;
}

main {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 67px;
}

.filter-busqueda {
    font-weight: 900;
}

.nav-search-input {
    height: 40px;
    border: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.nav-search-button {
    background-color: #FF5500;
    border: none;
    margin-left: -5px;
    height: 40px;
    width: 40px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.nav-search-button i {
    color: white;
}

.linio-home-carousel {
    object-fit: cover;
    height: 325px;
}
/* END BASE*/


/* Producto*/

.filter-navbar {
    height: 61px;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 8px #eee;
}

.dropdown-menu.show {
    display: block;
    transform: translate3d(-40px, 38px, 0px) !important;
}

.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-item-link:hover {
    text-decoration: none ;
}

.product-item h5:hover {
    text-decoration: underline !important;
}

.product-item {
    width: 233px;
    background-color: white;
}

h6.final {
    color: #ea2840;
    font-size: 1.15rem;
    font-weight: 700;
    line-height: 1.4rem;
}

h6.first {
    color: #aaa;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4rem;
    text-decoration:line-through;
}

h6.first-discount {
    font-size: 1rem;
    line-height: 1.4rem;
    color: black
}

.categoria-font {
    color: #f50!important;
}

.product-item-img {
    margin-left: 8px;
    margin-top: 8px;
    width: 200px;
    object-fit: cover;
    height: 180px;
}

.product-item-name-sub {
    max-width: 220px;
    height: 70px;
    vertical-align: middle;
    display: table-cell;
    color: black;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.button.is-primary {
    background-color: var(--main-color) !important;
}

.button.is-primary:hover {
    transition: .2s;
    background-color: var(--main-color-hover) !important;
    text-decoration: none;
}
/* END Producto*/

